OPENAI_API_KEY=your_openai_api_key
ANTHROPIC_API_KEY=your_anthropic_api_key
SELF_HOSTED_BASE_URL=http://localhost:8001/v1
OPEN_ROUTER_API_KEY=your_open_router_api_key
OXLO_API_KEY=your_oxlo_api_key
GROK_API_KEY=your_grok_api_key
NVIDIA_API_KEY=your_nvidia_api_key
GROQ_API_KEY=your_groq_api_key
TOGETHER_API_KEY=your_together_api_key
QWEN_IMAGE_ENDPOINT=https://hay-lifestyle-becoming-river.trycloudflare.com